<p-blockUI [blocked]="blocked">
    <i class="fas pi-spin fa-spinner" style="font-size: 5rem"></i>
</p-blockUI>
<p-toast key="myKey1"></p-toast>
<header class="site-header scrolled">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-lg-4 site-logo form-inline">
                <div class="heading" data-aos="fade"><a class="nav-link" [routerLink]="['']"><span
                            class="fa fa-home text-primary"></span><b> HOME</b></a></div>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="heading" data-aos="fade"><a class="nav-link" href="" (click)="goBack($event)"><span
                            class="fas fa-arrow-circle-left text-primary"></span><b> BACK</b></a></div>
            </div>
        </div>
    </div>
</header>
<section style="background-color:#FFFFFF;padding-bottom: 7rem;padding-top: 90px;">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="py-2"><b>รายละเอียดจองห้อง</b></h3>
                <div class="row mb-2">
                    <div class="form-group col-lg-6">
                        <label><b>ชื่อห้อง</b></label>
                        <p>{{roomviewmodel.RoomName}}</p>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>จุดประสงค์การใช้ห้อง</b></label>
                        <p>{{reserve?.Purpose}}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="form-group col-lg-6">
                        <label><b>วันที่ใช้ห้องประชุม</b></label>
                        <p>{{reserve?.StartDateTime|date:'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="form-group col-lg-3">
                        <label><b>เวลาเริ่ม</b></label>
                        <p>{{reserve?.StartDateTime|date:'HH:mm'}}</p>
                    </div>
                    <div class="form-group col-lg-3">
                        <label><b>เวลาสิ้นสุด</b></label>
                        <p>{{reserve?.EndDateTime|date:'HH:mm'}}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="form-group col-lg-6">
                        <label><b>ชื่อผู้จอง</b></label>
                        <p>{{reserve?.BookBy}}</p>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>แผนก/ฝ่าย</b></label>
                        <p>{{reserve?.BookDepartment}}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="form-group col-lg-6">
                        <label><b>ชื่อบริษัท</b></label>
                        <p>{{reserve?.BookCompany}}</p>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>ที่อยู่บริษัท</b></label>
                        <p>{{reserve?.AddressNo}}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="form-group col-lg-6">
                        <label><b>เบอร์โทรศัพท์ที่ติดต่อได้</b></label>
                        <p>{{reserve?.ContactPhone}}</p>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>E-mail</b></label>
                        <p>{{reserve?.Email}}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="form-group col-lg-6">
                        <label><b>จำนวนผู้เข้าร่วม(คน)</b></label>
                        <p>{{reserve?.TotalPerson}}</p>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>อื่นๆ(โปรดระบุ)</b></label>
                        <p>{{reserve?.Remark}}</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <p style="color: red;font-size: 19px;"><u>หมายเหตุ :</u> หลังเสร็จสิ้นการใช้ห้องประชุม
                        กรุณาแจ้งเจ้าหน้าที่ โทร. 02 296 1476 หรือ 098 415 0842 ทุกครั้ง
                        หากไม่แจ้งจะมีค่าบริการเพิ่ม (หรือตัด slot) จากการใช้เกินเวลา</p>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <div class="form-row ">
                            <div class="form-group">
                                <h4>ความจุ {{roomviewmodel.TotalPerson}} ที่นั่ง</h4>
                                <h4>อุปกรณ์มาตรฐาน ที่มีให้บริการภายในห้อง</h4>
                                <ul>
                                    <li *ngFor="let item of roomviewmodel.OptionRoom">{{item.Description}}</li>
                                </ul>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <h4>อุปกรณ์ที่สามารถให้บริการเพิ่มเติม</h4>
                                    <ul>
                                        <li *ngFor="let item of reserve?.Option">{{item.Description}} <span
                                                *ngIf="item.Id == 3"><br> เลขหมายปลายทาง : {{item.Destination}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ตารางเรทราคาห้อง -->
                    <div class="col-lg-6">
                        <div class="card" style="height: 95%;">
                            <div class="card-body">
                                <!-- ทรงวาด -->
                                <table class="table table-sm table-bordered" style="font-size: 13px;"
                                    *ngIf="reserve?.RoomId == 1">
                                    <thead>
                                        <tr class="table-primary">
                                            <th style="width: 60%;text-align: center;">อัตราค่าบริการห้อง-วันทำการ</th>
                                            <th style="text-align: center;">ทรงวาด</th>
                                            <th style="text-align: center;">ราคาโปรโมชั่น</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>เต็มวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                12,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">9,600 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ครึ่งวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                7,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">5,600 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ค่าบริการต่อ ชม. *</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                2,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">1,600 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ส่วนเกิน ชม.ละ **</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                2,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">1,600 บาท</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr class="table-primary">
                                            <th style="width: 60%;text-align: center;">อัตราค่าบริการห้อง-วันหยุด</th>
                                            <th style="text-align: center;">ทรงวาด</th>
                                            <th style="text-align: center;">ราคาโปรโมชั่น</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>เต็มวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                15,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">9,600 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ครึ่งวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                9,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">5,600 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ส่วนเกิน ชม.ละ **</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                2,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">1,600 บาท</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- ทรงวาด -->
                                <!-- รัชดา -->
                                <table class="table table-sm table-bordered" style="font-size: 13px;"
                                    *ngIf="reserve?.RoomId == 2">
                                    <thead>
                                        <tr class="table-primary">
                                            <th style="width: 60%;text-align: center;">อัตราค่าบริการห้อง-วันทำการ</th>
                                            <th style="text-align: center;">รัชดา</th>
                                            <th style="text-align: center;">ราคาโปรโมชั่น</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>เต็มวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                18,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">14,000 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ครึ่งวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                10,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">8,000 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ค่าบริการต่อ ชม. *</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                3,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">2,400 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ส่วนเกิน ชม.ละ **</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                3,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">2,400 บาท</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr class="table-primary">
                                            <th style="width: 60%;text-align: center;">อัตราค่าบริการห้อง-วันหยุด</th>
                                            <th style="text-align: center;">รัชดา</th>
                                            <th style="text-align: center;">ราคาโปรโมชั่น</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>เต็มวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                22,500 บาท</td>
                                            <td style="text-align: center;color:#f00;">14,000 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ครึ่งวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                12,500 บาท</td>
                                            <td style="text-align: center;color:#f00;">8,000 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ส่วนเกิน ชม.ละ **</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                3,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">2,400 บาท</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- รัชดา -->
                                <!-- สาทร -->
                                <table class="table table-sm table-bordered" style="font-size: 13px;"
                                    *ngIf="reserve?.RoomId == 3">
                                    <thead>
                                        <tr class="table-primary">
                                            <th style="width: 60%;text-align: center;">อัตราค่าบริการห้อง-วันทำการ</th>
                                            <th style="text-align: center;">สาทร</th>
                                            <th style="text-align: center;">ราคาโปรโมชั่น</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>เต็มวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                15,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">12,000 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ครึ่งวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                8,500 บาท</td>
                                            <td style="text-align: center;color:#f00;">6,800 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ค่าบริการต่อ ชม. *</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                2,500 บาท</td>
                                            <td style="text-align: center;color:#f00;">2,000 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ส่วนเกิน ชม.ละ **</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                2,500 บาท</td>
                                            <td style="text-align: center;color:#f00;">2,000 บาท</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr class="table-primary">
                                            <th style="width: 60%;text-align: center;">อัตราค่าบริการห้อง-วันหยุด</th>
                                            <th style="text-align: center;">สาทร</th>
                                            <th style="text-align: center;">ราคาโปรโมชั่น</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>เต็มวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                19,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">12,000 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ครึ่งวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                11,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">6,800 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ส่วนเกิน ชม.ละ **</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                2,500 บาท</td>
                                            <td style="text-align: center;color:#f00;">2,000 บาท</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- สาทร -->
                                <!-- ราชวงศ์ -->
                                <table class="table table-sm table-bordered" style="font-size: 13px;"
                                    *ngIf="reserve?.RoomId == 4">
                                    <thead>
                                        <tr class="table-primary">
                                            <th style="width: 60%;text-align: center;">อัตราค่าบริการห้อง-วันทำการ</th>
                                            <th style="text-align: center;">ราชวงค์</th>
                                            <th style="text-align: center;">ราคาโปรโมชั่น</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>เต็มวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                6,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">5,400 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ครึ่งวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                3,500 บาท</td>
                                            <td style="text-align: center;color:#f00;">3,200 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ค่าบริการต่อ ชม. *</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                1,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">900 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ส่วนเกิน ชม.ละ **</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                1,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">900 บาท</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr class="table-primary">
                                            <th style="width: 60%;text-align: center;">อัตราค่าบริการห้อง-วันหยุด</th>
                                            <th style="text-align: center;">ราชวงค์</th>
                                            <th style="text-align: center;">ราคาโปรโมชั่น</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>เต็มวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                7,500 บาท</td>
                                            <td style="text-align: center;color:#f00;">5,400 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ครึ่งวัน</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                4,500 บาท</td>
                                            <td style="text-align: center;color:#f00;">3,200 บาท</td>
                                        </tr>
                                        <tr>
                                            <th>ส่วนเกิน ชม.ละ **</th>
                                            <td
                                                style="text-align: center;text-decoration:line-through;text-decoration-color: #f00;">
                                                1,000 บาท</td>
                                            <td style="text-align: center;color:#f00;">900 บาท</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- ราชวงศ์ -->
                                <div style="font-size: 13px;margin-top: -10px; margin-bottom: 10px;">
                                    <b>*ขั้นต่ำ 2 ชม.</b><br>
                                    <b>**เศษของชม.คิดเป็น 1 ชม.</b><br>
                                    <b>อัตราค่าบริการยังไม่รวม VAT</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p-messages [(value)]="Msgs"></p-messages>
                <button type="submit" class="btn btn-primary btn-lg col-lg-12 mt-5" data-bs-toggle="modal"
                    data-bs-target="#modal1">ดำเนินการต่อ</button>
            </div>
        </div>
    </div>
</section>
<app-copyright></app-copyright>

<div class="modal fade" id="modal1" data-bs-backdrop="static" >
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ระเบียบการจองและใช้ห้องประชุม</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- <b style="margin-left: 24px;">ศูนย์ประชุมปัญจธานี</b> -->
                <ol>
                    <!-- <li>ผู้ที่มีความประสงค์จะใช้บริการห้องประชุมโปรดแจ้งความประสงค์ล่วงหน้า ผ่าน Website : <a
                            href="http://pjcc.ngowhock.co.th"
                            target="_blank">http://pjcc.ngowhock.co.th </a>
                        ภายใน 14 วัน ( กรณีเร่งด่วน ติดต่อ 02-296-1223-4 )
                        หากผู้ใช้บริการมีเหตุจำเป็นต้องการยกเลิกการใช้ห้องประชุม<span
                            style="color:red">หลังจากได้รับการยืนยันแล้ว</span> กรุณาแจ้งล่วงหน้าไม่น้อยกว่า 7
                        วันก่อนวันที่จะใช้ห้องฯ
                    </li> -->
                    <li>เวลาทำการตั้งแต่ 08 : 00 น. ถึง 17 : 00 น.
                    </li>
                    <li>ผู้ใช้บริการต้องไม่เคลื่อนย้าย แก้ไข หรือดัดแปลง อุปกรณ์ต่าง ๆ ภายในห้องประชุม
                        หากมีความจำเป็นโปรดแจ้งเจ้าหน้าที่ประสานงานของบริษัทฯ ได้ทันที
                    </li>
                    <li>อุปกรณ์ภายในห้องประชุม และภายนอกห้องประชุม อยู่ในสภาพเรียบร้อยพร้อมให้บริการ
                        ภายหลังจากเลิกใช้งาน
                        หากพบว่าอุปกรณ์ภายในหรือภายนอกห้องประชุม ชำรุด เสียหาย หรือสูญหาย อันเนื่องมาจากผู้ใช้บริการหรือ
                        ผู้เข้าร่วมประชุม ผู้ใช้บริการจะต้องรับผิดชอบความเสียหายตามที่เกิดขึ้นจริง
                    </li>
                    <li>ห้ามนำอาหารและเครื่องดื่มทุกชนิด เข้ามารับประทานภายในห้องประชุม <b><u>ยกเว้น</u></b>
                        น้ำดื่มชนิดขวด (ไม่แช่เย็น)
                    </li>
                    <li>กรณีที่ผู้ใช้บริการต้องการจัด Coffee Break กรุณาแจ้งรูปแบบ และรายละเอียดให้บริษัทฯ ทราบล่วงหน้า
                    </li>
                    <li>เมื่อผู้ใช้บริการเสร็จสิ้นหรือเลิกใช้งานห้องประชุมแล้ว โปรดแจ้งเจ้าหน้าที่ประสานงานได้ทันที
                        เพื่อที่จะได้
                        ตรวจสอบความเรียบร้อยต่าง ๆ ภายในห้องประชุมร่วมกัน
                    </li>
                    <li>บริษัทฯ
                        ไม่รับผิดชอบในกรณีที่ทรัพย์สินของผู้ใช้บริการหรือทรัพย์สินส่วนตัวของผู้เข้าร่วมใช้ห้องประชุม
                        สูญหายหรือเสียหายในทุกกรณี
                    </li>
                </ol>
                <!-- <br>
                <p style="margin-left: 24px;">หากมีเหตุขัดข้องใด ๆ โปรดติดต่อเจ้าหน้าที่ประสานงานได้ที่หมายเลขโทรศัพท์
                    02-296-1223-4
                    (นอกเวลาทำการ 02-296-1476)
                </p> -->
                <div class="d-flex justify-content-end" style="margin-right: 14rem;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="autoSizingCheck2" (click)="Toggleitem()" style="margin-top: 5px;">
                        <label class="form-check-label" for="autoSizingCheck2"> ยอมรับ</label>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <!-- <re-captcha #captchaform (resolved)="OkResponse($event)" siteKey="6Ld0yXAaAAAAACJ9lXfI4UftB4Dtc-t4OSyr6g5C"></re-captcha> -->
                    <re-captcha #captchaform (resolved)="OkResponse($event)" siteKey="6Ld0yXAaAAAAACJ9lXfI4UftB4Dtc-t4OSyr6g5C"></re-captcha>
                </div>
                <div class="modal-footer">
                    <small style="color: blue;">**เมื่อท่านกดปุ่มยืนยันการจอง ท่านจะได้รับการติดต่อจากเจ้าหน้าที่
                        เพื่อยืนยันการจองห้องประชุมตามเบอร์โทรศัพท์ที่ท่านกรอกไว้ด้านบน**</small>
                    <button type="button" #captchaRef class="btn btn-primary" 
                        [disabled]="isActiveAccept" (click)="confirmBooking()">ยืนยันการจอง</button>
                </div>
            </div>
        </div>
    </div>
</div>
