<footer class="section footer-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mb-5">
          <ul class="list-unstyled link">
            <li>
              <p><span class="d-block"><span class="ion-ios-location h5 mr-3 text-primary"></span> Address:</span> <span> 127 อาคารปัญจธานี ถ.นนทรี <br> แขวงช่องนนทรี เขตยานนาวา กรุงเทพมหานคร  10120</span></p>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-5">
          <ul class="list-unstyled link">
            <li>
              <p><span class="d-block"><span class="ion-ios-telephone h5 mr-3 text-primary"></span> Phone:</span> <span> 02-296-1223-5 </span><br>              ติดต่อ คุณธนิดา , คุณณัฐธยาน์ </p>
            </li>
  
          </ul>
        </div>
        <div class="col-md-3 mb-5 pr-md-5 contact-info">
          <p><span class="d-block"><span class="ion-ios-email h5 mr-3 text-primary"></span> Email:</span> <span>PJ_Conference@ngowhock.co.th</span></p>
        </div>
      </div>
      <div class="row">
        <p class="col-md-6 text-left">
          Copyright &copy; Panjathani Conference Center
        </p>
  
      </div>
    </div>
</footer>