/* You can add global styles to this file, and also import other style files */

.table > :not(:first-child) {
    border-top: 1px solid currentColor;
}

.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 60px 0;
    z-index: 2;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
  }
  .site-header.scrolled {
    padding: 10px 0;
    background: #fff;
    -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
  }
  .site-header.scrolled .site-menu-toggle {
    top: 10px;
    position: relative;
  }
  .site-header.scrolled .site-menu-toggle span {
    background: #000;
  }
  .site-header.scrolled .site-logo {
    position: relative;
    z-index: 100;
    display: contents; 
  }
  .site-header.scrolled .site-logo a {
    color: #000;
  }